# General
[settings]
start_nextflow_analysis = /fs2/sw/bnf-scripts/start_nextflow_analysis.pl
log_base_dir = /mnt/beegfs/nextflow
trace_base_dir = /mnt/beegfs/nextflow/reports
work_base_dir = /mnt/beegfs/nextflow

# Run types
[test]
assay = test
trio = false
case = test_case

[giab-single]
assay = wgs-hg38-check
trio = false
case = hg002

[giab-trio]
assay = wgs-hg38-check
trio = true
cases = hg002,hg003,hg004

[seracare]
assay = jakob_test_oncov2-0
trio = false
case = seracare_case

[giab-han-single]
assay = wgs-hg38-check
trio = false
case = hg005

# Cases
[test_case]
id = test
clarity_pool_id = 0
clarity_sample_id = CMD000A000
sex = M
type = proband
fq_fw = /home/jakob/src/pipeline_validation_tools/giab_runner/testdata/fw.fq
fq_rv = /home/jakob/src/pipeline_validation_tools/giab_runner/testdata/rv.fq
bam = /home/jakob/src/pipeline_validation_tools/giab_runner/testdata/align.bam
vcf = /home/jakob/src/pipeline_validation_tools/giab_runner/testdata/calls.vcf

[hg002]
id = hg002
clarity_pool_id = 24-236992
clarity_sample_id = CMD659A983
sex = M
type = proband
father = hg003
mother = hg004
fq_fw = /fs1/resources/verification/240426_wgs_pr142/giab_hg002/CMD659A983_24-236992_S24_R1_001.fastq.gz
fq_rv = /fs1/resources/verification/240426_wgs_pr142/giab_hg002/CMD659A983_24-236992_S24_R2_001.fastq.gz
bam = /fs2/jakob/data/giab_runner/bam/hg002_dedup.bam
vcf = /fs2/jakob/data/giab_runner/hg002.intersected.vcf.gz

[hg003]
id = hg003
clarity_pool_id = NA
clarity_sample_id = NA
sex = M
type = father
fq_fw = /fs1/resources/verification/240426_wgs_pr142/giab_hg003/fw.fastq.gz
fq_rv = /fs1/resources/verification/240426_wgs_pr142/giab_hg003/rv.fastq.gz
bam = /fs2/jakob/data/giab_runner/bam/hg003_dedup.bam
vcf = None

[hg004]
id = hg004
clarity_pool_id = NA
clarity_sample_id = NA
sex = F
type = mother
fq_fw = /fs1/resources/verification/240426_wgs_pr142/giab_hg004/fw.fastq.gz
fq_rv = /fs1/resources/verification/240426_wgs_pr142/giab_hg004/rv.fastq.gz
bam = /fs2/jakob/data/giab_runner/bam/hg004_dedup.bam
vcf = None

[hg005]
id = hg005
clarity_pool_id = NA
clarity_sample_id = NA
sex = M
type = proband
fq_fw = /fs1/jakob/data/hantrio/fw.fastq.gz
fq_rv = /fs1/jakob/data/hantrio/rv.fastq.gz
bam = None
vcf = None

[seracare_case]
id = 240404-SeraCare-10538837
clarity_pool_id = 24-236992
clarity_sample_id = CMD659A983
diagnosis = artftlig-brostcancer
sex = M
type = proband
fq_fw = /fs2/jakob/data/giab_runner/CMD907A1197_122-399698_S11_R1_001.fastq.gz
fq_rv = /fs2/jakob/data/giab_runner/CMD907A1197_122-399698_S11_R2_001.fastq.gz
bam = /fs2/jakob/data/giab_runner/240404-SeraCare-10538837_dedup.bam
vcf = None
